h1, h2 {
	padding: 20px;
	display: inline-box;
	font-size: 20px;
	margin-bottom: 25px;
	background-color: gray;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 20px;
	margin-bottom: 25px;
}

hr {
	margin-top: 15px;
	margin-bottom: 25px;
}

#regForm p {
	margin-bottom: 15px;
}

.inputTitle {
	display: inline-block;
	width: 120px;
	text-align: right;
	margin-right: 20px;
}

#userDiv {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
    width: 50%;
}

#adminDiv {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
    width: 50%;
    box-shadow: 2px 0 0 0 gray inset;
}

#userInterface, #adminInterface {
    width: 85%;
    min-height: 300px;
    margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.test {
	/*
	width: 85%;
	height: 30%;
	*/
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

.error {
	border: 2px dotted red;
	padding-right: -4px;
}

#error {
	display: none;
	border: 2px dotted red;
	padding: 20px;
}

#loader {
	display: inline-box;
	text-align: center;
}

#loader span {
	margin-top: 80px;
	width: 300px;
	text-align: center;
}

#loader img {
}

#loader p {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.font18 {
	font-size: 18px;
}

.font14 {
	font-size: 14px;
}

/* User Interface */
.teamTitle {
	display: inline-block;
	width: 100px;
	font-weight: 600;
}

.teamInfo {
	margin-bottom: 15px;
}

form p {
	font-size: 12px;
}

#addMembers {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

#addMembers p {
	padding-bottom: 3px;
}

#formWrap {
	padding-bottom: 10px;
	display: block;
}

.addMemberWrap {
	display: inline-block;
	width: 100%;
	border: 1px solid #13b1df;
	background-color: #d9f6ff;
	clear: both;
}

.addMemberDiv1 {
	display: inline-block;
	width: 20%;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.addMemberDiv2 {
	display: inline-block;
	width: 20%;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.addMemberDiv3 {
	display: inline-block;
	width: 68px;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.addMemberDiv4 {
	display: inline-block;
	width: auto;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.memberReg {
	font-size: 12px;
}

.surname {
	width: 100%;
	padding: 3px;
}

.lastname {
	width: 100%;
	padding: 3px;
}

.personcode {
	width: 100%;
	padding: 3px;
}

.memberEmail {
	min-width: 160px;
	padding: 3px;
}


#addButton {
	display: inherit;
}

.minusButton {
    border-radius: 5px;
    background-color: Transparent;
    background-repeat: no-repeat;
    margin-top: 7px;
    margin-right: 7px;
    width: 32px;
    height: 32px;
    background-image: url("../icon/minus.png");
    background-size: 32px 32px;
    cursor: pointer;
    border: none;
    float: right;
}

#addGymnastButton {
	float: right;
	clear: both;
}

.memberName {
	display: inline-block;
	width: 180px;
}

.memberCode {
	display: inline-block;
	width: 120px;
}

.memberEmail {
	display: inline-block;
	width: auto;
}

/* Admin Interface */
table {
	width: 100%;
	background-color: gray;
}

table input {
	width: 45px;
}

table, th, td {
	border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}